@import "../../styles/color.scss";

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-turquoise-500;
}

.container {
  display: flex;
  height: 80vh;
  max-height: 900px;
  gap: 3rem;

  .logo {
    width: 220px;
    margin-bottom: 1rem;
    pointer-events: none;
    user-select: none;
  }

  .loginPic {
    width: 450px;
  }
}

.loginBox {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.15);
  width: 450px;

  .form {
    width: 320px;

    .alert {
      margin-bottom: 2rem;
    }
  }

  input,
  button {
    width: 100%;
  }

  .infoText {
    margin-top: 1rem;
  }
}

.teacher {
  background-color: $color-carrot-500;
  flex-direction: row-reverse;
}
