.input {
    :global {
        .ant-input {
            font-size: 16px;
            font-weight: 400;
        }
        .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
            height: 35px;
        }
    }
}
