@import "../../styles/color.scss";

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  div {
    display: flex;
    gap: 1rem;
  }

  :global(.ant-form-item-with-help){
    margin-bottom: 1rem;

  }
}
