@import "../../styles/color.scss";

.report {
  .reportWrap {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-grey-200;
    padding: 0.5rem;
    border-radius: 3px;

    .topics {
      color: $color-turquoise-500;
    }

    .topicWrap {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      .topicLine {
        flex: auto;
        height: 1px;
        background-color: $color-grey-300;
        margin-left: 0.5rem;
      }
    }
  }
}

.addUl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.emptyLi {
  list-style: none;
  padding: 8px 0;
  margin: 0;
  color: $color-grey-300;
  text-align: center;
}

li.addLi {
  list-style-type: none;
  line-height: 32px;
  transition: all ease-in-out 150ms;
  padding: 0 3rem 0 0.5rem;
  border-radius: 2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;

  &:hover {
    background-color: $color-turquoise-100;
  }

  &:hover .liRmBtn {
    opacity: 100;
  }

  .liRmBtn {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: $color-rose-600;
    transition: all ease-in-out 100ms;
  }
}

.addBtn {
  margin-top: 0.5rem;
  width: fit-content;
  align-self: flex-end;
}

.lastWrap {
  padding-left: 1rem;

  h4 {
    margin-top: 0.5rem;
  }
}

.btnWrap {
  display: flex;
  align-self: flex-end;
  gap: 0.5rem;
  margin: 1rem 0;
}