@import "styles/colors";

@mixin buttonStyle($primaryColor, $lighterColor, $darkerColor) {
  :global {
    .ant-btn {
      font-weight: 500;
      font-size: 16px;
      background-color: $color-white;
      color: $primaryColor;
      border-color: $primaryColor;
      &:focus {
        background-color: $color-white;
        color: $lighterColor;
        border-color: $lighterColor;
      }
      &:hover {
        background-color: $color-white;
        color: $lighterColor;
        border-color: $lighterColor;
      }
      &:active {
        background-color: $color-white;
        color: $darkerColor;
        border-color: $darkerColor;
      }
      &:disabled {
        background-color: $color-grey-100;
        color: $color-disable;
        border-color: $color-disable;
      }

      &-text {
        background-color: transparent;
        color: $primaryColor;
        border-color: transparent;
        &:focus {
          background-color: transparent;
          color: $lighterColor;
          border-color: transparent;
          span {
            text-decoration: underline;
          }
        }
        &:hover {
          background-color: transparent;
          color: $lighterColor;
          border-color: transparent;
          div {
            text-decoration: underline;
          }
        }
        &:active {
          background-color: transparent;
          color: $darkerColor;
          border-color: transparent;
          div {
            text-decoration: underline;
          }
        }
        &:disabled {
          background-color: transparent;
          color: $color-disable;
          border-color: transparent;
          div {
            text-decoration: none;
          }
        }
      }

      &-primary {
        color: $color-white;
        background-color: $primaryColor;
        border-color: $primaryColor;
        &:focus {
          color: $color-white;
          background-color: $lighterColor;
          border-color: $lighterColor;
        }
        &:hover {
          color: $color-white;
          background-color: $lighterColor;
          border-color: $lighterColor;
        }
        &:active {
          color: $color-white;
          background-color: $darkerColor;
          border-color: $darkerColor;
        }
        &:disabled {
          color: $color-white;
          background-color: $color-disable;
          border-color: $color-disable;
        }
      }
    }
  }

  .icon {
    > span:first-child {
      padding-right: 12px;
      font-size: 16px;
    }
  }
}

.btnCarrot {
  @include buttonStyle($color-carrot-500, $color-carrot-400, $color-carrot-600);
}

.btnTurquoise {
  @include buttonStyle(
    $color-turquoise-500,
    $color-turquoise-400,
    $color-turquoise-600
  );
}

.btnDanger {
  @include buttonStyle($color-rose-500, $color-rose-400, $color-rose-600);
}
