@import "../../styles/color.scss";

.rubricWrap {
  display: flex;
  border: 1px solid $color-grey-100;
  border-radius: 2px;
  padding: 1rem 2rem;
  overflow: auto;
  gap: 1.5rem;
  flex-wrap: wrap;
  //background-color: red;
  justify-content: space-between;
  //height: 350px;
  .rubric {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-grey-100;
    border-radius: 4px;
    min-width: 160px;
    width: 160px;
    min-height: 160px;
    height: 160px;
    position: relative;
    gap: 0.5rem;
    transition: all ease-in-out 100ms;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 10px 0 $color-grey-200;
    }

    .level {
      width: 100%;
      border-bottom: 1px solid $color-grey-100;
      text-align: center;
    }

    .desc {
      padding: 0 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .point {
      position: absolute;
      bottom: 0.2rem;
      left: 0.5rem;
      font-size: 18px;
    }
  }
}

.subActivityHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

/* width */
::-webkit-scrollbar {
  height:10px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-grey-300;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-grey-400;
}
