h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.header {
  &[level="1"] {
    font-size: 30px;
    font-weight: 500;
  }
  &[level="2"] {
    font-size: 24px;
    font-weight: 500;
  }
  &[level="3"] {
    font-size: 20px;
    font-weight: 500;
  }
  &[level="4"] {
    font-size: 18px;
    font-weight: 500;
  }
  &[level="5"] {
    font-size: 16px;
    font-weight: 500;
  }
  &[level="6"] {
    font-size: 14px;
    font-weight: 500;
  }
  // &[level="c1"] {
  //   font-size: 14px;
  //   font-weight: 300;
  // }
  // &[level="c2"] {
  //   font-size: 12px;
  //   font-weight: 300;
  // }
}

.body {
  &[level="1"] {
    font-size: 18px;
    font-weight: 400;
  }
  &[level="2"] {
    font-size: 16px;
    font-weight: 400;
  }
  &[level="3"] {
    font-size: 14px;
    font-weight: 400;
  }
  &[level="4"] {
    font-size: 12px;
    font-weight: 400;
  }
}
