.home{
  .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filterbox{
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    
  }

  .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    .card{
      cursor: pointer;
    }
  }
}