@import "../../styles/color.scss";

.tabHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;

  div {
    display: flex;
    gap: 0.5rem;
  }
}

.editableCell {
  :global(.ant-form-item-explain) {
    position: absolute;
    top: 100%;
    font-size: 12px;
    z-index: 3;
  }
}

.topRightBtn {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  :global(.ant-upload-list-text-container){
    visibility: hidden;
    height: 0;
  }
}

// .customfileinput::-webkit-file-upload-button {
//   visibility: hidden;
// }
// .customfileinput::before {
//   width: 0.1px;
// 	height: 0.1px;
// 	opacity: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	z-index: -1;
// }
