@import "../../styles/color.scss";

.tabHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;

  div {
    display: flex;
    gap: 0.5rem;
  }
}

.editableCell {
  :global(.ant-form-item-explain) {
    position: absolute;
    top: 100%;
    font-size: 12px;
    z-index: 3;
  }
}

.topRightBtn {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

// .titleColapse{
//   margin:0;
//   font-size:18px ;
//   font-weight:500; 
//   width:90% 

// }