@import "../../styles/color.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.curriculumMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }
}

.selectCurriculum {
  display: flex;
  gap: 1rem;
  align-items: center;

  h2 {
    margin: 0;
  }
}

.editBtn {
  color: $color-turquoise-500;
}

.tabHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;

  div {
    display: flex;
    gap: 0.5rem;
  }
}

.detailTab {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .btn {
    display: flex;
    gap: 1rem;
  }
}
