@import "../../styles/color.scss";

.container {
  background: $color-white;
  padding: 30px 0;
  width: 1140px;
  max-width: 80vw;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
