@import "../../styles/color.scss";

.layout {
  background: $color-white;
  height: 100vh;
  overflow: hidden;
}
.container {
  overflow: auto;
  background: $color-white;
  padding: 30px 0;
  height: calc(100vh - 60px);
  width: 1140px;
  max-width: 80vw;
  margin: auto;
}
