@import "../../../styles/color.scss";

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  img {
    margin: 18px auto 0 auto;
  }
  h1 {
    margin: -16px auto 0 auto;
    color: $color-white;
  }
}
.sidebar {
  height: 100vh;
}
.container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $color-primary-carrot;
  h5 {
    color: inherit;
    margin: 0;
  }
  &:global(.ant-layout-sider > .ant-layout-sider-children) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .menu {
    background: inherit;
    color: $color-white;
    transition: none;
    border: 0px;
    a {
      font-size: 16px;
      font-weight: 500;
      color: inherit;
    }

    .item {
      transition: none;
      height: 56px;
      display: flex;
      align-items: center;
      &:global(.ant-menu-item-selected) {
        color: $color-primary-turquoise;
        background-color: $color-carrot-100;
        &:hover {
          background-color: $color-carrot-100;
        }
        &::after {
          border-right: 3px solid $color-primary-turquoise;
        }
      }
      &:hover {
        background-color: $color-carrot-200;
      }
      .icon {
        transition: none;
      }
    }

    .year {
      color: $color-primary-turquoise;

      &:global(.ant-menu-submenu > .ant-menu-submenu-title) {
        height: 56px;
        display: flex;
        align-items: center;
        background: $color-carrot-100;
      }
    }
    .course {
      color: $color-primary-turquoise;

      &:global(.ant-menu-submenu > .ant-menu-submenu-title) {
        line-height: 1.5;
        height: 90px;
        display: flex;
        align-items: center;
        background: $color-carrot-100;
      }
    }
    i {
      color: inherit;
    }
    :hover {
      color: $color-turquoise-500;
    }
  }

  &Admin {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-primary-turquoise;
    &:global(.ant-layout-sider > .ant-layout-sider-children) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .menu {
      background: inherit;
      color: white;
      transition: none;
      border: 0px;
      a {
        font-size: 16px;
        font-weight: 500;
        color: inherit;
        &:hover {
          color: inherit;
        }
      }

      .item {
        font-size: 16px;
        transition: none;
        height: 56px;
        display: flex;
        align-items: center;
        &:global(.ant-menu-item-selected) {
          color: $color-primary-carrot;
          background-color: $color-turquoise-100;
          &::after {
            border-right: 3px solid $color-primary-carrot;
          }
        }
        &:hover {
          color: $color-primary-carrot;
          background-color: $color-turquoise-100;
        }
        .icon {
          transition: none;
        }
      }
    }
    .footer:hover{
      background-color: $color-turquoise-100;
      color: $color-primary-carrot;
      
    }
  }
}

.footer {
  min-height: 50px;
  margin: 5px;
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-white;
  border-radius: 5px;
  a {
    margin-left: 4px;
    font-weight: 500;
    font-size: 20px;
    color: inherit;
  }
}
.footer:hover{
  background-color: $color-carrot-100;
  color: $color-primary-turquoise;
  
}



.usermenu {
  border-radius: 5px;
  margin:.5rem;

  li{
    margin:  8px;
    a{
      font-size: 16px;
      font-weight: 500;
    }
  }
}
