@import "../../styles/color.scss";

.container {
  border-radius: 2px;
  border: solid 1px $color-grey-100;
  width: fit-content;
  height: 110px;
  width: 100%;
}

.type1 {
  display: flex;
  height: 100%;
  width: 100%;
  .col1 {
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    flex: 2;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    gap: 10px;
    flex: 4;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .col3 {
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    flex: 4;
  }
  .col4 {
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    flex: 1;
  }
  .col5 {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    width: 60px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      transition: all ease-in-out 100ms;
      &:hover {
        color: $color-turquoise-500;
      }
    }
  }
}

.type2 {
  display: flex;
  height: 100%;
  width: 100%;
  .col1 {
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    flex: 0.3;
  }
  .col2 {
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    flex: 0.7;
  }
  .col3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    gap: 10px;
    flex: 3;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .col4 {
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    flex: 2;
    max-width: 320px;
  }
  .col5 {
    padding: 10px;
    border-right: solid 1px $color-grey-100;
    flex: 0.7;
  }
  .col6 {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    width: 60px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      transition: all ease-in-out 100ms;
      &:hover {
        color: $color-turquoise-500;
      }
    }
  }
}
