.tabHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    .header {
        display: flex;
        align-items: center;
    }

}
.content {
    width: 100%;
    .standardSelect {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:1rem 0 2rem 0;
        .select {
            flex-direction: column;
            width: 48%;
            .selectLabel {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }
        }       
        .swapIcon {
            padding: 2rem 0 0 0;
            font-size: 18px;
        }
    }
}
.flexrow{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}