@import "../../styles/color.scss";

.group{
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        .student{
            border: 1px solid $color-grey-200;
            font-size: 16px;
            padding: 0 0.5rem;
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 120px;
            div{
                cursor: pointer;
            }
        }
        .addbtn{
            cursor: pointer;
            width: 120px;
            height: 32px;
            border: 1px dashed $color-grey-200;
            font-size: 16px;
            text-align: center;
            padding: 0.25rem 0.5rem;
            color: $color-grey-200;
        }
    
    }
    
}