$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;

$screen-xxs-max: $screen-xs - 1;
$screen-xs-max: $screen-sm - 1;
$screen-sm-max: $screen-md - 1;
$screen-md-max: $screen-lg - 1;

@mixin mini-mobile {
  @media only screen and (max-width: $screen-xxs-max) {
    @content;
  }
}

@mixin min-xs {
  @media only screen and (min-width: $screen-xs) {
    @content;
  }
}

@mixin min-sm {
  @media only screen and (min-width: $screen-sm) {
    @content;
  }
}

@mixin min-md {
  @media only screen and (min-width: $screen-md) {
    @content;
  }
}

/* This is generic mobile including ipad portrait (since we want to display it as mobile) */
@mixin mobile {
  // phone portrait
  @media only screen and (max-width: $screen-xs-max) {
    @content;
  }

  // ipad portrait
  @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: portrait) {
    @content;
  }

  // phone landscape
  @media only screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    @content;
  }
}

/*
Normally, @mixin mobile should cover ipad portrait.
In some cases that we want to display ipad portrait differently from mobile
override the style with this mixin
*/
@mixin ipad-portrait {
  @media only screen and (min-width: $screen-md) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
    @content;
  }
}

// 768 - 1199, ipad landscape
@mixin desktop {
  @media only screen and (min-width: $screen-md) and (orientation: landscape) {
    @content;
  }

  // ipad pro, both landscape and portrait
  @media only screen and (min-width: $screen-lg) {
    @content;
  }
}

// 1200 +, 1366x768, 1920x1080
@mixin desktop-lg {
  @media only screen and (min-width: $screen-xl) {
    @content;
  }
}

@mixin ipad-pro-portrait {
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin ipad-pro-landscape {
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
