@import "../../styles/color.scss";

.activityList {
    .filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    :global(.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header) {
        padding-left: 0;
    }
    :global(.ant-collapse-content-box) {
        padding: 0;
    }
    .googleClassroomBtn {
        color: #252629;
        border-color: #c3c3c4;
        align-items: center;
        font-weight: 500;
        height: 50px;
        width: 350px;
        .logo {
            width: 25px;
            margin: 0 0.5rem 0 0;
        }
    }

    .link{
        color: $color-grey-500;   
      }
}
